.card__info_mobile{
    display: none;
}
.card__info_mobile_team{
    display: none;
}
.card__image_team img{
    width: 113%;
}

.show{
    display: block !important;
}

.hide{
    display: none;
}

.check-mark-popup.show{
    margin-right: 10px;
}

.check-1, .check-2{
    display: none;
}

.img-mail{
    max-height: 1024px;
    width: 100%;
}

header{
    .first-screen__container{
        max-width: 100%;
    }

    .delivery-from-china{
        h1{
            font-size: 48px;
        }

        p{
            font-size: 24px;
        }
    }
}

.close-accordion{
    display: none;
}

.address-delivery{
    color: #FFD704;
    padding: 27px;
    border: 1px solid #FFD704;
    border-radius: 12px;
    line-height: 1.8;
    margin-bottom: 20px;
    font-size: 24px;

    p{
        margin-bottom: 0;
    }


}

.popup{

    input{
        margin-top: 15px;
    }

    input[type="radio"]{
        width: 24px;
        margin-top: 0;
        margin-right: 10px;
    }

    .type-delivery-popup{
        justify-content: space-between;

    }

    .form-group{
        display: flex;
        justify-content: center;
        align-items: center;

        label{
            font-size: 14px;
            margin-bottom: 3px;
        }
    }
}

main{
    overflow: hidden;
    margin-top: 70px;
}

.mail-page{
    h1{
        font-size: 36px;
        text-align: center;
        margin-bottom: 50px;
    }

    iframe{
        width: 440px;
        height: 633px;
        border-radius: 17px;
    }

    .faq-wrapper{
        display: flex;
        justify-content: center;
        margin-bottom: 70px;

        .faq-content{
            margin-left: 41px;

            h2{
                margin-bottom: 40px;
            }

            .item-accordion{
                border-bottom: 1px solid lightgray;
                width: 554px;

                button{
                    font-weight: bold;
                    color: black;
                    font-size: 18px;
                }

                button[aria-expanded="true"] {
                    margin-bottom: -15px;

                    .plus-accordion{
                        display: none;
                    }

                    .close-accordion{
                        display: block;
                    }
                }

                .header-item-accordion{
                    padding-top: 20px;
                    padding-bottom: 20px;

                    .plus-accordion{
                        width: 20px;
                        height: 20px;

                        &:hover{
                            cursor: pointer;
                        }
                    }

                    .close-accordion{
                        width: 32px;
                        height: 32px;
                        margin-right: -7px;
                    }

                    .btn-block{
                        display: flex;
                        justify-content: space-between;
                        padding-left: 0;
                        padding-right: 0;

                        &:focus{
                            box-shadow: none;
                        }

                        span{
                            margin-top: -14px;
                        }
                    }
                }

                .collapse{
                    padding-bottom: 30px;
                    transition: none;

                    color: rgba(60, 60, 67, 0.85);
                }
            }
        }
    }
}

.header{
    margin-top: 0;
    position: relative;
}

.chat-wrapper{
    position: absolute;
    right: 71px;
    bottom: 71px;
    width: 471px;
    align-items: center;
    overflow: hidden;

    .write-us-chat{
        width: 386px;
        height: 110px;
        background-color: white;
        padding: 19px 34px;
        border-radius: 12px;
        align-items: center;
        position: relative;
        border: 2.7px solid yellow;

        &:after, &:before {
            content: '';
            display: block;
            position: absolute;
            left: 100%;
            width: 0;
            height: 0;
            border-style: solid;
        }

        &:after{
            top: 39.4px;
            border-color: transparent transparent transparent yellow;
            border-width: 15px;
        }

        &:before{
            top: 42.5px;
            border-color: transparent transparent transparent #fff;
            border-width: 11px;
            z-index: 1;
        }

        img{
            width: 40px;
            height: 40px;
            margin-right: 15px;
        }

        p{
            margin-bottom: 0;
        }
    }

    .icons{
        margin-left: 21px;

        svg{
            cursor: pointer;
        }

        svg:not(svg:first-child), a:not(a:first-child){
            margin-top: 15px;
        }

        .item-icon-chat{
            display: none;
        }
    }

    .icons.show{
        .item-icon-chat{
            display: block;
        }
    }
}

.chat-wrapper.active-icons{
    right: 0;
    justify-content: end;
    padding-right: 30px;

    .write-us-chat{
        display: none !important;
    }
}

.chat-content{
    position: absolute;
    bottom: 80px;
    right: 30px;
    z-index: 1;
    width: 471px;
    height: 680px;
    display: none;

    .consults-in-chat{
        div:not(div:last-child){
            margin-right: 23px;
        }

        span{
            margin-left: -3px;
            font-weight: 700;
        }

        div:last-child{
            img{
                margin-left: 10px;
            }
        }
    }

    .attachments{
        padding: 12px 17px;
        background-color: white;
        border-radius: 0 0 17px 17px;

        svg{
            cursor: pointer;
        }
    }

    textarea{
        width: 100%;
        border: none;
        height: 171px;
    }

    textarea[placeholder]{
        padding-top: 22px;
        padding-left: 20px;
    }

    .write-test-chat{
        display: flex;
        flex-direction: column;

        svg:first-child{
            margin-right: 10px;
        }
    }

    .chat-wrap-text{
        background-image: url("/img/fon-chat.jpg");
        height: 500px;
        border-radius: 17px 17px 0 0;

        .consults-wrapper{
            h5{
                margin-top: 121px;
                margin-left: 0;
                text-align: center;
                font-size: 20px;
            }
        }

        .consults-in-chat{
            margin-left: 135px;
            margin-top: 30px;
        }

        .close-chat{
            position: absolute;
            top: 10px;
            right: 18px;
            font-size: 22px;
            cursor: pointer;
        }
    }
}

body{
    background-color: #F5F5F5 !important;
}

.page{
    margin-top: -135px;
}

.header__wrapper{
    padding-top: 60px;
    padding-bottom: 0;
    max-width: 100%;

    a{
        color: white !important;
    }

    .header__container{
        max-width: 100%;
        margin-left: 200px;
    }

    .header__menu-list{

        li:not(li:last-child){
            margin-right: 10px;
        }
    }
}

.page__wrapper{
    padding: 0;

    .first-screen__container{
        padding-top: 0;
        max-width: 100%;
        margin-left: 197px;
    }
}

.header__logo{
    z-index: 1;
    flex: none;
    margin-right: 275px;
    margin-top: -7px;
}

.no-active{
    background-color: darkgray !important;
}

.spinner{
    display: flex;
    justify-content: center;
}

iframe button{
    z-index: 111;
}

.ytp-chrome-top, .ytp-gradient-top{
    display: none;
}

.first-iframe{
    position:relative;
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 1024px;
    top: 0;
}

.hide{
    display: none;
}

iframe{

    .ytp-chrome-top, .ytp-show-cards-title{
        display: none !important;
    }
}

.first-screen__container{
    position: absolute;
    top: 200px;
    left: 197px;
    color: white;
    padding-top: 8rem;
    z-index: 1;
}

.scale-mobile-title{
    display: none;
}

.btn-submit_form1{
    background-color: #FFD704;
    color: black !important;
    font-weight: bold;
    width: 250px;

    &:hover{
        background-color: #dfbc05 !important;
    }
}

.delivery-from-china{
    margin-bottom: 50px;

    h1{
        margin-bottom: 30px;
        font-size: 40px;
    }

    p{
        font-size: 18px;
    }
}

.us-team{
    max-width: 1040px;
    max-height: 600px;
    margin: 0 auto;
    margin-bottom: 100px;

    h2{
        text-align: center;
        margin-bottom: 40px;
    }

    img{
        border-radius: 17px;
        height: 600px;
    }
}

.believe{
    display: none;
}

.video{

    max-width: 1040px;
    height: 600px;
    margin: 0 auto;

    iframe{
        width: 100%;
        height: 100%;
        border-radius: 17px;
    }
    .video__card{
        border: none;
        display: block;
        text-align: center;
        padding-bottom: 40px;

        h3{
            font-size: 36px;
            width: 530px;
            margin: 0 auto;
        }
    }
}

.about{

    margin-top: 207px;
    .label-about{
        margin-bottom: 40px;
    }

    .about__card{
        width: 322px;
        height: 262px;

        &:not(&:last-child){
            margin-right: 37px;
        }
    }

    .about_images{
        margin-bottom: 14px;
        img{
            width: 283px;
            height: 148px;
        }

        .card__stage{
            width: 52px;
            height: 26px;
            font-size: 11px !important;
            border-radius: 8px;
            font-weight: 400;
        }
    }

    .about__card {
        width: 322px;
        height: 262px;
        max-width: 322px;
        max-height: 262px;
        border-radius: 8px;
        border-color: #fff;

        h3{
            font-size: 16px;
        }
    }

    .card__content{
        h3{
            margin-bottom: 0;
        }
    }

    .about__container_b{
        max-width: 1074px;
    }
}

.scale{
    margin-top: 47px;

    .scale__container_b{
        max-width: 1070px;
    }
}

.team{
    max-width: 1040px;
    margin: 50px auto;

    p{
        font-size: 24px;
        margin-bottom: 30px;
    }

    h3{
        font-size: 36px;
        margin-bottom: 40px !important;
    }

    img{
        max-width: 1040px;
        max-height: 523px;
        border-radius: 17px;
        width: 100%;
    }

    .about-company{
        line-height: 1.3;
    }
}

.statistics{
    max-width: 1040px;
    margin: 0 auto;

    .statistics-items{
            display: flex;

        .statistics__item{
            &:not(&:last-child){
                margin-right: 44px;
            }
        }
    }

}

.contact{
    max-width: 1040px;
    margin: 70px auto;
}

.siema-wrapper{
    margin-top: 70px;
}

.siema{
    max-width: 1040px;
    margin: 0 auto;

    .item-siema{
        margin-right: 30px;
        padding-right: 30px;
    }

    div:first-child{
        display: flex;
    }

    iframe{
        border-radius: 12px;
    }
}

.reviews{
    max-width: 1040px;
    margin: 70px auto;

    .label__title{
        margin-bottom: 40px;
    }
}

.footer__body{
    padding: 30px;

    .footer__menu{
        padding-top: 10px !important;

        a{
            font-size: 16px !important;
        }
    }
}

.footer__container{
    padding-bottom: 70px;
}

.politics{
    text-decoration: underline;
}

.form-contact__text{
    font-size: 10px;
}

.header-mail{

}

@media (max-width: 1700px) {
    .header-mail{
        .first-screen__container{
            left: 90px;
        }
    }
}

@media (max-width: 1670px) {
    .header-mail{
        .address-delivery{
            font-size: 20px;
        }
    }
}

@media (max-width: 1450px) {
    .header-mail{
        .first-screen__content {
            -webkit-box-flex: 0;
            -ms-flex: 0 1 45%;
            flex: 0 1 45%;
        }
    }
}

@media (max-width: 1350px){
    .header-mail{
        .first-screen__container{
            width: 90%;

            .first-screen__content{
                flex: 0 1 46%;

                h1{
                    font-size: 43px;
                }

                p{
                    font-size: 21px;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    video{
        width: 104%;
    }

    .chat-wrapper{
        right: 100px;
    }

    .header-mail{
        .first-screen__content{
            margin-right: 30px;
        }
    }
}

@media (max-width: 1250px) {
    .chat-wrapper{
        width: 100px;
        right: 81px !important;
        bottom: 12px;

        .write-us-chat{
            display: none !important;
        }
    }
}

@media (max-width: 1170px) {
    .header__wrapper{

        .header__container{
            margin-left: 140px !important;
        }
    }
}

@media (max-width: 1035px){
    .faq-wrapper{
        flex-direction: column;
        align-items: center;

        .faq-content{
            margin-top: 40px;
            margin-left: 0 !important;

            h2{
                text-align: center;
            }
        }
    }

    .chat-wrapper{
        right: 95px;
    }

    .header{

        .img-mail{
            min-height: 683px;
        }

        .first-screen__container{
            top: -60px;
            left: 14px;

            .first-screen__wrapper{
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .first-screen__content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    form{
                        width: 100%;
                    }

                    .delivery-from-china{
                        h1{
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1020px) {
    .header__wrapper{

        .header__container{
            margin-left: 70px !important;
        }
    }

    .about__card{

        img{
            width: 100% !important;
        }
    }
}

@media (max-width: 960px) {
    .header__wrapper{

        .header__container{
            margin-left: 10px !important;
        }
    }

    .about__card{

        img{
            height: 100px;
        }
    }
}

@media (max-width: 919px) {
    .menu-item_phone{
        margin-top: -9px;
    }

    .header__menu._active{
        a{
            color: black !important;
        }
    }

    .menu__icon{
        position: absolute;
    }
}

@media (max-width: 850px) {
    .first-screen__container{
        left: 150px;
    }
}

@media (max-width: 825px) {
    .menu-item_phone{
        margin-top: 0;
    }

    .header-mail{
        .first-screen__content{
            margin-right: 0;
        }

        .address-delivery{
            margin-left: 25px;
        }
    }

    .chat-wrapper {
        right: 60px !important;
    }
}

@media (max-width: 790px) {
    .first-screen__container{
        left: 130px;
    }

    .menu__icon:not(.menu__icon._active){
        &:before, span, &:after{
            background-color: #fff;
        }
    }

    .menu__icon._active{
        position: fixed;
        top: 50px;
        right: 20px;
    }

    footer{
        .menu__icon:not(.menu__icon._active){
            &:before, span, &:after{
                background-color: black;
            }
        }

        .menu__icon._active{
            position: fixed;
            top: 50px;
            right: 20px;
        }
    }
}

@media (max-width: 760px) {
    .first-screen__container{
        top: -103px !important;
        left: 0 !important;

        .delivery-from-china{
            h1{
                font-size: 26px;
            }

            p{
                font-size: 14px;
            }
        }
    }
}


@media (max-width: 739px) {
    .card__info_mobile{
        display: block;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    .card__info_full{
        display: none
    }
    main{
        padding-left: 50px;
    }

    .us-team img{
        max-height: 500px;
        height: 100%;
    }

    .first-screen__container{
        left: 100px;
    }

    main{
        padding-right: 15px;
        padding-left: 15px;
    }

    .statistics-items{
        flex-direction: column;
        .statistics__item{
            margin-right: 0 !important;
            &:not(&:first-child){
                margin-top: 9px;
            }
        }
    }

    .footer__top{
        flex-direction: column;
    }
}

@media (max-width: 720px) {
    .first-screen__container{

        form{
            max-width: 274px !important;

            a{
                font-size: 14px;
            }
        }

        .delivery-from-china{

            h1{
                margin-bottom: 10px;
            }
        }

        .address-delivery{
            font-size: 20px;
        }
    }
}

@media (max-width: 695px) {
    .about__card{
        height: 300px !important;
        max-height: 300px !important;
    }
}

@media (max-width: 680px) {
    .first-screen__container{
        left: 75px;
    }
}

@media (max-width: 640px) {
    .first-screen__container{
        left: 50px;
    }

    .about-items{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .about__card{

            width: 284px;
            height: 231px !important;
            margin-right: 0 !important;

            &:not(&:first-child){
                margin-top: 15px;
            }
        }
    }
}

@media (max-width: 600px) {
    .first-screen__container{
        left: 35px;
    }

    .mail-page{

        h2{
            margin-bottom: 20px;
        }

        .item-accordion{
            max-width: 450px;
        }
    }
}

@media (max-width: 580px) {
    .first-screen__container{
        left: 25px;
    }
}

@media (max-width: 550px) {
    .first-screen__container{
        left: 15px;
    }

    .item-siema{
        margin-right: 0 !important;
    }

    .reviews{
        margin: 40px auto;

        .review-info{
            font-weight: 700;
        }

        .label__title{
            margin-bottom: 20px;
            text-align: left !important;
        }

        .trigger__title{
            font-weight: 600;
            font-size: 20px;
        }
    }

    .review-title{
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
    }

    .believe{
        height: 31px;
        padding: 5px 5px 5px 5px;
        font-size: 16px;
        display: block;
    }
}

@media (max-width: 540px) {
    .first-screen__container{
        left: 5px;
    }

    .video__card{
        h3{
            width: 98% !important;
            font-size: 31px !important;
            font-weight: 600;
        }
    }

    .video{

        height: 450px;
        iframe{
            height: 250px;
        }
    }

    .about{
        margin-top: 0;
    }

    footer{
        .footer__menu-nav{
            flex-direction: column;

            ul{
                display: none;
            }

            button{
                align-self: end;
            }
        }

        .footer__policy{
            display: none;
        }
    }

    .popup{

        .type-delivery-popup{
            flex-direction: column;
            align-items: start;

            .form-group{

                &:last-child{
                    margin-bottom: 0 !important;
                }

                &:first-child{
                    margin-bottom: 15px !important;
                }

                input{
                    height: 24px;
                }
            }
        }

        .item-popup__title{
            margin-bottom: 10px;
        }
    }

    .header-mail{
        .delivery-from-china{
            width: 100%;
            text-align: center;
            margin-bottom: 30px;

            h1{
                font-size: 24px !important;
            }

            p{
                font-size: 14px !important;
            }
        }

        .first-screen__form{
            max-width: 100% !important;
            margin-left: 21px;

            a{
                width: 100%;
            }
        }
    }

    .chat-wrapper{
        right: 35px !important;
    }
}

@media (max-width: 500px) {
    .first-screen__container{
        padding-left: 20px;
        padding-right: 20px;
        top: -80px !important;

        .first-screen__content{
            padding-left: 10px;
            padding-right: 10px;
        }

        form{
            max-width: 274px;
            margin: 0;
        }

        .address-delivery{
            margin-top: 20px;
        }
    }
    .delivery-from-china{

        p{
            max-width: 100%;
        }
    }

    .first-screen__contacts{
        display: none;
    }

    .first-iframe{
        height: 680px;
    }

    .scale-mobile-title{
        display: block;
        margin-bottom: 15px;
        margin-left: 16px;
        font-weight: 600;
    }

    .scale{

        h2{
            display: none;
        }
    }

    .team{

        .card__title{
            margin-bottom: 15px !important;
            text-align: center;
            font-weight: 600;
        }
    }
}

@media (max-width: 473px) {
    .card__info_mobile_team{
        display: block;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    .card__info_full_team{
        display: none
    }

    .about-items{

        .about__card{
            height: auto !important;
        }
    }

    .menu__icon{
        position: absolute ;
        right: 50px;
        width: 30px;
    }

    .accordion{
        padding-left: 15px;
        padding-right: 15px;
        max-width: 450px;

        .item-accordion{
            width: 100% !important;
        }

        button[aria-expanded="false"]{
            img{
                margin-left: 20px;
            }
        }
    }

    .mail-page{
        iframe{
            max-width: 400px;
        }
    }
}

@media (max-width: 410px) {
    .mail-page{
        iframe{
            max-width: 360px;
        }
    }
}

@media (max-width: 405px) {
    .contact{
        h2{
            font-size: 12px;
        }
    }
}


